<!DOCTYPE html>
<html>
    <head>
        <title>Idealista TEST</title>
    </head>
    <body>
        <ul>
            {% for ad in ads %}
            <li>{{ad.description}}</li>
            {% endfor %}
        </ul>
    </body>
</html>